header {
    flex-direction: column;
    position: fixed;
    display: flex;
    z-index: 10;
    width: 100vw;
    height: 15vh;
    background-color: #dfdfc4;
    color: black;
    text-align: center;
    padding: 25px 0px;
    margin: auto;
    
}

header>h1 {
    font-size: 4vh;
}

header>h2 {
    font-size: 2vh;
}

main {
    position: relative;
    top: 25vh;
    left: 30vw;
    width: 45vw;
}

footer {
    position: fixed;
    width: 80vw;
    z-index: 10;
    bottom: 0;
    left: 20vw;
    height: 2vh;
    background-image: url(../Assets/lol2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.bouton{
    color: #dcdcdc;
    text-decoration: none;
    font-size: 2vh;
    display: block;
    background-color: #d2691e;
    border-radius: 0.5vh;
    padding: 0.5vh;
    width: 10vw;
    text-align: center;
    transition: box-shadow 500ms;
}

main{ 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #f5f5dc8d;
    padding-top: 5vh;
}

article{
    width: 75%;
    background-color: #a29584d2;
    box-shadow: #f5f5dc 5px 5px 10px 0;
    padding: 10px;
    margin-bottom: 2.5vh;

}

article>h2 {
    color: rgba(255, 228, 196, 0.541);
    font-size: 2em;
    margin-bottom: 1.5vh;
}

article>h3 {
    color: #00ffff;
    font-size: 1.5em;
    margin-bottom: 1.5vh;
}